<a href="https://colab.research.google.com/github/MolchanovSergey/mipt_1/blob/main/6_Python_datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 1

Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

Пример работы программы
Программа должна выводить на экран объекты типа datetime, соответствующие датам в условии задачи

In [27]:
from datetime import timedelta

DATE_FORMATS = ['%A, %B %d, %Y', '%A, %d.%m.%y', '%A, %d %B %Y']

def parse_date(date):
  for formate_ in DATE_FORMATS:
    try:
        return print(datetime.strptime(date, formate_))
    except:
        pass
        # raise ValueError (f' Неизвестный формат даты: '(date))

In [28]:
parse_date('Wednesday, October 2, 2002')

2002-10-02 00:00:00

In [29]:
date_string = 'Wednesday, October 2, 2002'
date_datetime = datetime.strptime( date_string, '%A, %B %d, %Y' )
date_datetime

datetime.datetime(2002, 10, 2, 0, 0)

In [30]:
with open('The_Moscow_Times') as f:
    for line in f:
      date = line.split('-')[1]
      date = date.strip()
      parse_date(date)

2002-10-02 00:00:00
2013-10-11 00:00:00
1977-08-18 00:00:00

Разобарться, почему функция возвращает объект типа строка а не объект datetime?

Задание 2 (не обязательное)

Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [26]:
from datetime import timedelta

start_date = '1993-05-03'
end_date = '1993-05-31'



def date_range(start_date, end_date):
    list_date = []
    try:
        start_date1 = datetime.strptime(start_date, '%Y-%m-%d')
        end_date1 = datetime.strptime(end_date, '%Y-%m-%d')
        if start_date1 > end_date1:
            print(list_date)
        else:
            while start_date1 <= end_date1:
                list_date.append(start_date1.strftime('%Y-%m-%d'))
                start_date1 += timedelta(days=1)
        print(list_date)
    except:
        print([])

date_range(start_date, end_date)

['1993-05-03', '1993-05-04', '1993-05-05', '1993-05-06', '1993-05-07', '1993-05-08', '1993-05-09', '1993-05-10', '1993-05-11', '1993-05-12', '1993-05-13', '1993-05-14', '1993-05-15', '1993-05-16', '1993-05-17', '1993-05-18', '1993-05-19', '1993-05-20', '1993-05-21', '1993-05-22', '1993-05-23', '1993-05-24', '1993-05-25', '1993-05-26', '1993-05-27', '1993-05-28', '1993-05-29', '1993-05-30', '1993-05-31']

In [25]:
date_range('2022-01-01', '2022-01-03')

['2022-01-01', '2022-01-02', '2022-01-03']

# Новый раздел